div.wrapper{
	background-color: #EEEEEE;
	width: 33%;
	padding: 15px;
	border-radius: 10px;
}

div.category{
	background-color: #FFFFFF;
	padding: 20px;
	margin-top: 20px;
	border: 1px solid black;
	overflow: auto;
}

img.image-box{
	width: 35%;
	height: auto;
	float: left;
	margin-right: 20px;
	margin-bottom: 5px;
	border: 1px solid black;
}

a.category-button{
	float: right;
	padding: 4px 8px;
	margin: 15px;
	margin-left:3px;
	margin-right: 3px;
	background-image: url("pictures/button-link.png");
	background-repeat: repeat;
}

a.category-button:link, a.category-button:active{
	text-decoration: none;
	color: #FFFFFF;
}

a.category-button:hover{
	background-image: url("pictures/button-active.png");
	background-repeat: repeat;
	}
